!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %title Hemepath Reporter
    %link{:rel=>"stylesheet", :href=>"css/style.css"}
    %script{:src=>'http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'}

  - LNprompts = [["Effacement ","Histologic sections of the lymph node show effacement of architecture by [diffuse infiltration of] large/small lymphocytes/cells with irregular nuclear contour, vesicular nuclei with fine/coarse chromatin, # nucleoli.  "],
    ["Preserved","Histologic sections of the lymph node shows presevation of lymph node architecture. "],
    ["Distorted ","Histologic sections of the lymph node shows distortion of lymph node architecture. "],
    ["Lymphs, Mature","The lymphocytes have small nuclei with mature cytological features. "],
    ["Lymphs, Immature","The lymphocytes have small nuclei with immature cytological features. "],
    ["Intact capsule","Histologic sections of the lymph node show intact capsule [with mildly/moderately increased thickness]. "],
    ["Follicular / Sinus hyperplasia","Follicular hyperplasia and sinus hyperplasia are noted. "],
    ["Inc No. and size","The follicles are increased in number and size. "],
    ["Secondary","Many secondary follicles with prominent follicular center are seen. "],
    ["Var Size/Shape","The follicles  exhibit considerable variation in size and shape. "],
    ["Mantle Zone nl","The follicles have well-formed mantle zone.  "],
    ["GC mit and TBM","The germinal centers contain many mitoses and  tingible-body macrophages. "],
    ["No granuloma","No granuloma or necrosis is seen. "],
    ["Parafollicles","Parafollicles (proliferation centers) are seen throughout sections.  "],
    ["Fat infiltration","Foci of small lymphocytes are seen infiltrating adjacent adipose tissue.  "],
    ["Folliculysis","A small number of follicles with variable size are seen, some with folliculolysis. "],
    ["Inflamm background","Cells are admixed with an inflammatory background of small lymphocytes, a few eosinophils, macrophages, and plasma cells.  "]]
  
  - WBCprompts = [["Normal ", "In the peripheral blood, a normal WBC count with unremarkable morphology seen. "],
                           ["Low","In the peripheral blood, a low WBC count is seen. "],
                           ["High","In the peripheral blood, a high WBC count is seen. "],
                           ["Toxic","Some neutrophils contain toxic granulations. "],
                           ["Auer","Some lymphocytes containing Auer rods are seen. "],
                           ["No Plasma","No plasma cells were seen in circulating blood. "],
                           ["Plasma","Plasma cells were seen in circulating blood. "],
                           ["Reactive","Occasional reactive lymphocytes were seen. "],
                           ["No Blasts","No circulating blasts are seen. "],
                           ["Blasts","Circulating blasts are seen. "]]
                           
  - RBCprompts = [["Normal","Red cells are normocytic normochromic. "],
                           ["Hypo","Red cells are hypochromic with "],
                           ["Hyper","Red cells are hyperchromic with "],                         
                           ["Aniso","mild anisocytosis. "],
                           ["Poikilo","mild poikilocytosis. "],
                           ["Both","mild anisocytosis and poikilocytosis. "],
                           ["Dacro","Dacrocytes"],
                           ["Target",", target cells"],
                           ["Ellipto",", and elliptocytes are seen. "],
                           ["Rouleaux","Rouleaux formation is seen. "],
                           ["NoRouleaux","No rouleaux formation is seen. "]]
  
  - PLTprompts = [["Normal","Platelets are adequate in number with normal granulation. "],
    ["Low","Platelets are reduced in number with normal granulation. "],
    ["High","Platelets are increased in number with normal granulation. "],
    ["SizeVar","Platelets also show some variation in size. "],
    ["Large","Some platelets are large. "],
    ["Giant","Occasional giant platelets are seen. "],
    ["Clumping","Occasional clumping of platelets is seen. "]]
    
  - BMprompts = [["Granulopoiesis nl","Granulopoiesis is unremarkable. "],
    ["Left shift","Left-shifting is seen in granulopoiesis"],
    ["Inc plasma cells","Increased number of plasma cells is seen. "],
    ["Numerous neutrophils","Numerous neutrophils are seen. "],
    ["Megakryocytes nl","Megakaryocytes are adequate in number and are unremarkable. "],
    ["Megakryocytes dysplastic","Megakaryocytes are ___ in number and some of them are dyplastic. Occasionally the hypolobated or bilobated megakaryocytes are seen. "],
    ["Bulbous","Some megakaryocytes are bulbous. "],
    ["Hyperchromatic","Some megakaryocytes are hyperchromatic. "],
    ["Mega hyperplasia cluster","Megakryocyte hyperplasia with clustering is seen. "],
    ["Mega prolif cluster (PMF)","Megakryocyte proliferation with clustering is seen. "],
    ["Erythropoiesis nl","Erythropoiesis is unremarkable. "],
    ["Unremarkable trilineage","Trilineage hematopoiesis is observed and is unremarkable. "],
    ["Apoptotic debris","Apoptotic debris is seen in the bone marrow. "],
    ["Streaming","Some streaming of cells is seen. "]]  
  
  - BMAprompts = [["Multiple normal, cellular spicules","Bone marrow aspirate smears show multiple normal, cellular spicules. "],
    ["Megas nl","Megakaryocytes are adequate in number and unremarkable. "],
    ["Reduced","Megakaryocytes are reduced in number. "],
    ["Increased","Megakaryocytes are increased in number. "],
    ["No plasma","No increase in plasma cells is seen."],
    ["Increased plasma","The number of plasma cells is increased."],
    ["Trilineage nl","Trilineage hematopoiesis is observed. "],
    ["Erythro nl","Erythropoiesis shows a spectrum of maturation and is unremarkable.  "],
    ["Erythro, mild dyspl","Erythropoiesis shows a spectrum of maturation with mild dysplastic features. "],
    ["Asynchrony","Some erythroid precursors show nuclear-cytoplasmic asynchrony. "],
    ["Granulo nl","Granulopoiesis shows a spectrum of maturation and is unremarkable.  "],
    ["Granulopoiesis left-shift","Granulopoiesis is left-shifted. "]]
  
  - TP_prompts = [["Normal","Touch preparation on the marrow core shows trilineage hematopoiesis with normal findings. "],
    ["Inadequate for Analysis","Touch preparation on the marrow core shows no spicules and is inadequate for analysis. "]]
    
  - Retic_prompts = [["None","Reticulin stain of the bone marrow core shows no fibrosis. "],
    ["Mild","Reticulin stain of the bone marrow core shows mild fibrosis (0-1+ out of 3). "],
    ["Mod","Reticulin stain of the bone marrow core shows moderate fibrosis (1-2+ out of 3). "],
    ["Severe","Reticulin stain of the bone marrow core shows marked increase in reticulin fibrosis (2-3+ out of 3). "]]
    
  - Iron_prompts = [["Normal","Prussian blue staining shows storage iron and some iron in a few erythroid cells without abnormalities. "],
    ["Abnormal","Prussian blue staining shows neither storage iron nor iron in any erythroid cells. "],
    ["RingedSidero","However, ringed sideroblasts are also present. _% of the erythroid cells are ringed siderblasts. "]]
    
  - Clot_prompts = [["Normal","Clot shows unremarkable trilineage hematopoiesis concordant with bone marrow biopsy and aspirate. "],
       ["Nothing","Clot does not show any cells. "]]
  
  - Flow_prompts = [["ALP Brief Summ","Flow cytometric analysis was performed to further evaluate the case. A panel of antibodies was used, and this included CD1a, CD2, CD3, CD4, CD5, CD7, CD8, CD9, CD10, CD11b, CD13, CD14, CD15, CD19, CD20, CD22, CD24, CD33, CD34, CD38, CD41, CD45, CD52, CD56, CD79a, CD117, CD235a, HLA-DR, IGM, KAPPA, LAMBDA, cMPO, and TdT. REPLACE See attached flow cytometry report for additional details. "],
    ["ALL Brief","Flow cytometric analysis was performed to further evaluate the case. A panel of antibodies was used, and this included CD10, CD19, CD20, CD34, CD45, CD56, CD117, IGM, KAPPA, LAMBDA, TDT. REPLACE See attached flow cytometry report for additional details. "],
    ["AML Brief (i.e. limited myeloid)","Flow cytometric analysis was performed to further evaluate the case. A panel of antibodies was used, and this included CD7, CD13, CD14, CD15, CD19, CD33, CD34, CD45, CD56, CD117. REPLACE See attached flow cytometry report for additional details. "],
    ["MRD","Flow cytometric analysis was performed to further evaluate the case. A panel of antibodies was used, and this included CD1a, CD2, CD3, CD4, CD5, CD7, CD8, CD10, CD11C, CD14, CD16, CD19, CD20, CD21, CD22, CD23, CD25, CD38, CD45, CD52, CD56, CD103, FMC7, HLA-DR, IGD, IGG, IGM, KAPPA, LAMDBA. REPLACE See attached flow cytometry report for additional details. "],
    ["LTD Lymphoma Brief Summ","Flow cytometric analysis was performed to further evaluate the case. A panel of antibodies was used, and this included CD1a, CD2, CD3, CD4, CD5, CD7, CD8, CD9, CD10, CD11b, CD13, CD14, CD15, CD19, CD20, CD22, CD24, CD33, CD34, CD38, CD41, CD45, CD52, CD56, CD79a, CD117, CD235a, HLA-DR, IGM, KAPPA, LAMBDA, cMPO, and TdT. REPLACE See attached flow cytometry report for additional details. "],
    ["Lymphoma brief","Flow cytometric analysis was performed to further evaluate the case. A panel of antibodies was used, and this included CD10, CD19, CD45, CD20, CD9, CD34. REPLACE See attached flow cytometry report for additional details. "],
    ["Myeloma","Flow cytometric analysis was performed to further evaluate the case. A panel of antibodies was used, and this included CD3, CD19, CD20, CD38, CD45, CD138, KAPPA, LAMBDA, CD56. REPLACE See attached flow cytometry report for additional details. "],
    ["Sezary","Flow cytometric analysis was performed to further evaluate the case. A panel of antibodies was used, and this included CD4,CD7, CD25, CD26, CD45, CD52, CLA. REPLACE See attached flow cytometry report for additional details. "]]
    
  - FlowMarkers = ["CD1a", "CD2", "CD3", "CD4", "CD5", "CD7", "CD8", "CD9", "CD10", "CD11b", "CD11C", "CD13", "CD14", "CD15", "CD16", "CD19", "CD20", "CD21", "CD22", "CD23", "CD24", "CD25", "CD26", "CD33", "CD34", "CD38", "CD41", "CD45", "CD52", "CD56", "CD79a", "CD103", "CD117", "CD138", "CD235a", "CLA", "cMPO", "FMC7", "HLA-DR", "IGD", "IGG", "IGM", "KAPPA", "LAMBDA", "LAMDBA","TdT"]  
  
  %body
    %table
      %tr
        %td{:width => "500px"}
          %div#reporttype
            Report type:                   
            %input{:checked => "checked", :name => "reportchoice", :type => "radio", :value => "BM"}
            BM
            %input{:name => "reportchoice", :type => "radio", :value => "LN"}
            LN
          %form#myform
            %div{:name => "lymphnode"}
              .reportheading Lymph Node
              - for lab,val in LNprompts
                = succeed lab do
                  %input{:name => "lymphnode", :type => "checkbox", :value => "#{val}"}      
            %div{:name => "peripheralblood"}
              .reportheading WBC
              - for lab,val in WBCprompts
                = succeed lab do
                  %input{:name => "wbc", :type => "checkbox", :value => "#{val}"}             
              .reportheading RBC
              - for lab,val in RBCprompts
                = succeed lab do
                  %input{:name => "rbc", :type => "checkbox", :value => "#{val}"}                              
              .reportheading Plt
              - for lab,val in PLTprompts
                = succeed lab do
                  %input{:name => "platelet", :type => "checkbox", :value => "#{val}"}                                        
            %div{:name => "bonemarrow"}
              .reportheading Bone Marrow:            
              %select#bmcell
                - for val in ['normo','hypo','hyper']
                  %option{:value => "#{val}"} 
                    #{val}  
              %select#bmcellpct
                - for i in 0..9
                  %option{:value => "#{i*10}-#{(i+1)*10}%"} 
                    #{i*10}-#{(i+1)*10}%              
              = succeed "cm" do
                %input{:name => "bmlength", :step => "0.01", :type => "number", :value => "0"}
              = succeed "cm" do
                %input{:name => "bmlength2", :step => "0.01", :type => "number", :value => "0"}
              %br            
              - for lab,val in BMprompts
                = succeed lab do
                  %input{:name => "bmoptions", :type => "checkbox", :value => "#{val}"}   
              %hr
            %div{:name => "bonemarrowaspirate"}
              .reportheading Bone Marrow Aspirates            
              - for lab,val in BMAprompts
                = succeed lab do
                  %input{:name => "bmaoptions", :type => "checkbox", :value => "#{val}"}
              %hr
            %div{:name => "others"}
              .reportheading Touch Prep
              - for lab, val in TP_prompts
                = succeed lab do
                  %input{:name => "touchetc", :type => "checkbox", :value => "#{val}"}
              .reportheading Reticulin
              - for lab, val in Retic_prompts
                = succeed lab do
                  %input{:name => "touchetc", :type => "checkbox", :value => "#{val}"}
              .reportheading Iron
              - for lab, val in Iron_prompts
                = succeed lab do
                  %input{:name => "touchetc", :type => "checkbox", :value => "#{val}"}
              .reportheading Clot
              - for lab, val in Clot_prompts
                = succeed lab do
                  %input{:name => "touchetc", :type => "checkbox", :value => "#{val}"}                
              %hr
            %div{:name => "IHC"}
              .reportheading IHC
              %br
              %input{:name => "immuno", :type => "checkbox", :value => "Immunohistochemical stains for ___ are performed and interpreted with the appropriate controls. The neoplastic cells are REPLACE. "}
              = succeed "+" do
                %select#pos_markers{ :multiple => true, :size => "10"}
                  - for m in FlowMarkers
                    %option{ :value => "#{m}" }
                      #{m}            
              = succeed "-" do
                %select#neg_markers{ :multiple => true, :size => "10"}
                  - for m in FlowMarkers
                    %option{ :value => "#{m}" }
                      #{m}                                                    
              %hr
            %div{:name => "flow"}            
              .reportheading Flow
              - for lab, val in Flow_prompts
                = succeed lab do
                  %input{:name => "flow", :type => "checkbox", :value => "#{val}"}     
              %br
              %input#flow_lymph{:type => "checkbox"}
              Lymphocytes              
              %input#flow_cd48{:type => "checkbox"}  
              CD4
              %input#cd4{:step => "0.01", :type => "number", :value => "0"}
              CD8
              %input#cd8{:step => "0.01", :type => "number", :value => "0"} 
              %br           
              %input#flow_btnk{:type => "checkbox"}  
              B
              %input#bcell{:step => "0.01", :type => "number", :value => "0"}
              T
              %input#tcell{:step => "0.01", :type => "number", :value => "0"}
              NK
              %input#nkcell{:step => "0.01", :type => "number", :value => "0"}
              %br
              %input#flow_kl{:type => "checkbox"}
              kappa
              %input#kappa{:step => "0.01", :type => "number", :value => "0"}
              lambda
              %input#lambda{:step => "0.01", :type => "number", :value => "0"}
              %br
              CD19-
              %input#flow_kl1{:type => "checkbox"}
              kappa
              %input#kappa1{:step => "0.01", :type => "number", :value => "0"}
              lambda
              %input#lambda1{:step => "0.01", :type => "number", :value => "0"}
              %br
              CD19+
              %input#flow_kl2{:type => "checkbox"}
              kappa
              %input#kappa2{:step => "0.01", :type => "number", :value => "0"}
              lambda
              %input#lambda2{:step => "0.01", :type => "number", :value => "0"}
              %br
              CD56-
              %input#flow_kl3{:type => "checkbox"}
              kappa
              %input#kappa3{:step => "0.01", :type => "number", :value => "0"}
              lambda
              %input#lambda3{:step => "0.01", :type => "number", :value => "0"}
              %br
              CD56+
              %input#flow_kl4{:type => "checkbox"}
              kappa
              %input#kappa4{:step => "0.01", :type => "number", :value => "0"}
              lambda
              %input#lambda4{:step => "0.01", :type => "number", :value => "0"}
              %hr
            %div{:name => "meratio"}
              %b M:E ratio calculator
              = succeed "erythroid" do
                %br
              %input#me_erythroid{:step => "0.01", :type => "number", :value => "35"}
              plasma
              %input#me_plasma{:step => "0.01", :type => "number", :value => "4"}
              lymph
              %input#me_lymph{:step => "0.01", :type => "number", :value => "10"}
              ME Ratio
              %input#me_ratio{:step => "0.01", :type => "number"}
        %td{:width => "50px"}
        %td
          %textarea#myoutput{:cols => "40", :rows => "50"} Does not work 
      
    %script{:src=>"js/index.js"}
